[submodule "Program Files/ProxySU"]
	path = Program Files/ProxySU
	url = https://github.com/proxysu/ProxySU.git
[submodule "Program Files/chinawareblock"]
	path = Program Files/chinawareblock
	url = https://github.com/sharoue/chinawareblock.git
[submodule "Program Files/Malware-Patch"]
	path = Program Files/Malware-Patch
	url = https://github.com/the1812/Malware-Patch.git
[submodule "Users/eallion/AppData/Roaming/Typora/themes/GitHubKai"]
	path = Users/eallion/AppData/Roaming/Typora/themes/GitHubKai
	url = https://github.com/DonkeyBear/Typora-theme-GitHubKai.git
[submodule "Users/eallion/AppData/Roaming/Typora/themes/github-night"]
	path = Users/eallion/AppData/Roaming/Typora/themes/github-night
	url = https://github.com/kinoute/typora-github-night-theme.git
