{
    "application.fingerprint" : "==",
    "application.language" : "zh-CN",
    "application.masterPassword" : true,
    "filer.hiddenItemsVisible" : true,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : false,
    "terminal.startupSessions" : "NoSessions",
    "text.fontFamily1" : "JetBrainsMonoNL NFM",
    "text.fontFamily2" : "Fira Code",
    "text.fontFamily3" : "JetBrains Mono",
    "text.fontFamily4" : "Noto Sans Mono",
    "text.preferThemeFonts" : false
}
